header {
  display: flex;
  align-items: center;
  background-color: #000000;
  color: #c8c8c8;
  position: fixed;
  width: 100%;
  height: 10vh;
  z-index: 1;
}
header img {
  padding: 10px 5px 10px 20px;
}
header h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #cb393d;
  margin-left: 1rem;
}
header h2 a {
  text-decoration: none;
  color: #cb393d;
}
header #menu {
  display: block;
  margin-left: auto;
  margin-right: 2%;
}
header .container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 35px;
}
header .input {
  width: 20vw;
  height: 100%;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  background-color: #53535f;
  caret-color: #f7f7f8;
  color: #fff;
  padding: 7px 10px;
  border: 2px solid transparent;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-right: 1px;
  transition: all 0.2s ease;
}
header .input:hover {
  border: 2px solid rgba(255, 255, 255, 0.16);
}
header .input:focus {
  border: 2px solid #cb393d;
  background-color: #0e0e10;
}
header .search__btn {
  border: none;
  cursor: pointer;
  background-color: rgb(42, 42, 45);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .search__btn:hover {
  background-color: rgb(54, 54, 56);
}
header .menu__icon {
  display: none;
}
header ul {
  display: flex;
  padding: 0;
  width: 30%;
  justify-content: space-evenly;
  margin-left: auto;
  cursor: pointer;
}
header ul li {
  list-style: none;
}
header ul li a {
  position: relative;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  padding: 0 10px;
  text-decoration: none;
  color: #cb393d;
  font-weight: 500;
}
header ul li a:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}
header ul li a:hover {
  color: #ffffff;
}
header ul li a:hover:after {
  width: 100%;
  transform: scaleX(1);
}

@media screen and (width > 1200px) {
  #menu {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  header h2 {
    display: none;
  }
  header .input {
    width: 40vw;
  }
  header .search-box input {
    border: none;
    background: none;
    outline: none;
    padding: 5px;
    color: #000;
    width: 40vw;
  }
  .menu__icon {
    display: block;
    margin-left: auto;
    margin-right: 2%;
    font-size: 30px;
    cursor: pointer;
  }
  #links {
    display: none;
    position: absolute;
    top: calc(8vh + 10px);
    background-color: #000;
    width: 100vw;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    text-align: center;
  }
  #links.active {
    display: flex;
    flex-direction: column;
    transform: scale(1);
  }
  #links li {
    font-size: 1.5rem;
    text-align: center;
    margin: 8px 0;
  }
  #links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
  }
  #links a:hover {
    color: #cb393d;
  }
  button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
  }
  #menu .menu__icon {
    width: 32px;
    height: 32px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #menu .menu__icon span {
    width: 100%;
    height: 0.125rem;
    border-radius: 0.125rem;
    background-color: #cb393d;
    box-shadow: 0 0.5px 2px 0 hsla(0, 0%, 0%, 0.2);
    transition: transform 0.4s, background-color 0.4s, opacity 0.4s;
  }
  #menu .menu__icon:hover span:nth-child(1) {
    background-color: rgb(255, 59, 48);
    transform: translateY(11px) rotate(-45deg);
  }
  #menu .menu__icon:hover span:nth-child(2) {
    transform: translate(-50%);
    opacity: 0;
  }
  #menu .menu__icon:hover span:nth-child(3) {
    background-color: rgb(255, 59, 48);
    transform: translateY(-11px) rotate(45deg);
  }
}
@media screen and (width < 530px) {
  header .input {
    font-size: 0.8rem;
    width: 40vw;
  }
  #links {
    width: 100%;
    right: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
.slider ul {
  display: flex;
  animation: cambio 20s infinite;
  width: 400%;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
  height: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
@media screen and (max-width: 1650px) {
  .slider {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
main {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: black;
  color: #ececec;
  padding: 4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(180deg, rgba(5, 5, 5, 0.8), rgba(48, 48, 48, 0.7)), url(https://static.vecteezy.com/system/resources/previews/013/164/774/non_2x/topography-data-dark-red-lines-backgrounds-for-ecommerce-signs-retail-shopping-advertisement-business-agency-ads-campaign-marketing-email-newsletter-landing-pages-header-webs-video-animation-pic-vector.jpg);
}
main h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
}
main .all-products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main .all-products .product-info {
  margin-bottom: 1rem;
}
main .all-products .product {
  background: #ffffff;
  color: #21201e;
  text-align: center;
  width: 400px;
  height: 550px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  margin: 2rem;
}
main .all-products .product .product-price {
  font-size: 1.5rem;
  font-weight: 600;
}
main .all-products .product .porcent-off {
  font-size: 1rem;
  color: rgb(52, 177, 52);
  font-weight: 400;
  margin-left: 0.2rem;
}
main .all-products .product .discount {
  display: none;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: line-through;
  color: #CB393D;
}
main .all-products .product:hover img {
  scale: 1.1;
}
main .all-products .product:hover .discount {
  display: block;
}
main .all-products .product:hover {
  box-shadow: 5px 15px 25px #eeeeee;
}
main .all-products .product img {
  height: 200px;
  margin: 1rem;
  transition: all 0.3s;
}
main .all-products .productlink, main .all-products .productvisited {
  color: #ececec;
  display: inline-block;
  text-decoration: none;
  background-color: #21201e;
  padding: 1.2rem 3rem;
  border-radius: 1rem;
  margin-top: 1rem;
  transition: all 0.2s;
}
main .all-products .button {
  margin-top: 1rem;
}
main .all-products .button .product-btn {
  border: 2px solid #CB393D;
  color: #CB393D;
  border-radius: 0.5rem;
  font-weight: 600;
  padding: 0.5rem;
  cursor: pointer;
}
main .slider-main {
  width: 80vw;
  height: auto;
  margin: auto;
  overflow: hidden;
  margin-bottom: 3rem;
}
main .slider-main .slide-track {
  display: flex;
  animation: scroll 30s linear infinite;
  -webkit-animation: scroll 30s linear infinite;
  width: 2400px;
}
main .slider-main .slide {
  width: 100%;
}
main .slider-main .slide img {
  margin: 0.5rem;
  width: 120px;
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1400px);
    transform: translateX(-1400px);
  }
}

.submenu {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.submenu #cart-img {
  margin-right: 3rem;
}
.submenu #cart {
  display: none;
}
.submenu #cart.abierto {
  display: block;
  position: absolute;
  top: calc(5vh + 10px);
  width: 30vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5058823529);
  min-width: 400px;
  padding: 10px;
  right: 0;
  text-align: center;
}
.submenu table {
  width: 100%;
}
.submenu th, .submenu td {
  padding: 1rem 0;
  color: #FFFFFF;
}
.submenu .delete {
  background-color: #F35200;
  border-radius: 50%;
  padding: 5px 10px;
  color: white;
  font-weight: 800;
  margin-right: 1rem;
}
.submenu .btn-cart {
  display: inline-block;
  padding: 8px 17px;
  border: 1px solid #F35200;
  border-radius: 20px;
  color: #FFFFFF;
  margin-top: 1rem;
}
.submenu .btn-cart:hover {
  background-color: #F35200;
}
.submenu hr {
  margin-top: 1rem;
}
.submenu #cart-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.submenu #cart-footer .cart-total {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  display: inline-block;
  color: #FFFFFF;
}
.submenu .cantidad-input {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
  vertical-align: middle;
  margin-left: 0.5rem;
}
.submenu .cantidad-input:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}
.submenu .total {
  color: #FFFFFF;
  font-size: 1rem;
  margin-top: 1rem;
}

/*# sourceMappingURL=styles.css.map */
